* {
  text-shadow: none;
}
.
window-frame, .window-frame:backdrop {
  box-shadow: none;
  border-style: none;
  margin: 0;
  border-radius: 0;
}
    
.titlebar {
  border-radius: 0;
}


decoration { 
  transition: 0;
  box-shadow: none;
  margin: 5px;
}
decoration:backdrop {
  box-shadow: none;
}


