* {
  text-shadow: none;
}

.window-frame, .window-frame:backdrop {
  box-shadow: none;
  border-style: none;
  margin: 0;
  border-radius: 5px;
}
    
.titlebar {
  border-radius: 0;
}

decoration, decoration:backdrop{ 
  transition: 0;
  box-shadow: none;
  border-radius: 5px;
  margin: 5px;
  padding: 0;
}
